body {
  background-color: #f5eefc;
  color: #4e5283;
}

.component {
  color: #fff;
  background-color: #4e5283;
}

.link-button {
  transition: 100ms;
  text-decoration: none;
  color: white;
  font-size: 175%;
  /* Boldness */
  -webkit-text-stroke: 1px;
}

.trash-can {
  font-size: 150%;
  /* Boldness */
  -webkit-text-stroke: 0.3px;
}

.link-button:hover {
  cursor: pointer;
  color: #b5b2d0;
  transition: 100ms;
}

h3 {
  max-width: 85%;
  overflow-wrap: break-word; /* Break long words */
  white-space: normal; /* Alows line breaking */
}
