@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
// "Do it!" NavBar h1 font.
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

// Gradient for the background.
@mixin horizontal-gradient($start-color: $indigo-300, $mid-color: $blue-200, $color-stop: 50%, $end-color: $pink-200) {
  background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
}

$component-background-color: $indigo-600;
$text-color: $white;
$hover-color: $indigo-300;
$greyed-out: $gray-600;

// Check mark.
$checkbox-clip-path: polygon(55% 67%, 91% 11%, 64% 93%, 8% 51%);

* {
  transition: 100ms;
}

body {
  @include horizontal-gradient();
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 5px solid $hover-color !important;
}

// Customizes all checkboxes.
input[type='checkbox'] {
  // Hide default checkbox style.
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  color: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid;
  border-radius: 0.15em;
  // Aligns it with the text.
  transform: translateY(0.6em);
  position: relative;
  z-index: 0;
}

input[type='checkbox']:hover {
  cursor: pointer;
}

// This is used to place a custom check inside the box.
input[type='checkbox']::before {
  // No need for text or anything.
  content: '';
  position: absolute;
  width: 0.65em;
  height: 0.65em;
  // Hide it for now.
  transform: scale(0);
  transition: 150ms;
  clip-path: $checkbox-clip-path;
  font-size: 3em;
  background-color: $hover-color;
}

input[type='checkbox']:checked::before {
  transform: scale(1);
  transform: translateY(-0.3em) translateX(-0.2em);
}

.greyed-out-task {
  color: $greyed-out;
}

.component {
  color: $text-color;
  background-color: $component-background-color;
}

.logo {
  font-family: 'Edu NSW ACT Cursive', sans-serif !important;
  font-weight: 700;
}

.link-button {
  text-decoration: none;
  color: $text-color;
  font-size: 175%;
  // Boldness.
  -webkit-text-stroke: 1px;
}

.trash-can {
  font-size: 150%;
  // Boldness.
  -webkit-text-stroke: 0.3px;
  color: $text-color;
}

.trash-can:hover {
  cursor: pointer;
  color: $hover-color;
}

.link-button:hover {
  cursor: pointer;
  color: $hover-color;
}

h3 {
  max-width: 85%;
  // Break long words.
  overflow-wrap: break-word;
  // Alows line breaking.
  white-space: normal;
}

p {
  overflow-wrap: break-word;
}

// Popup config.
.popup,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  // Needed to make it appear over the checkboxes.
  z-index: 1;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.popup-content {
  position: absolute;
  top: 40%;
  left: 50%;
  // To adjust the popup's position.
  transform: translate(-50%, -50%);
  background-color: $component-background-color;
  // Needed to make it appear over the popup overlay.
  z-index: 2;
}

.close-popup {
  top: 6%;
  right: 2.5%;
  text-decoration: none;
  color: $text-color;
  font-size: 175%;
  // Boldness.
  -webkit-text-stroke: 1px;
}

.close-popup:hover {
  cursor: pointer;
  color: $hover-color;
}

.add-input {
  border: none;
}

.add-input:focus {
  outline: none;
  border: solid 3px;
  border-color: $hover-color;
}

.add-button {
  text-decoration: none;
  color: $text-color;
  font-size: 175%;
  // Boldness.
  -webkit-text-stroke: 1px;
}

.add-button:hover {
  cursor: pointer;
  color: $hover-color;
}

// To make it aligned with the rest.
.dollar-signal {
  transform: translateY(0.3em);
}

.money-qty-input {
  width: 40%;
  background-color: $component-background-color;
  border: none;
  color: $text-color;
}

.money-qty-input:focus {
  outline: none;
}

// Plus and minus buttons.
.steps-btns {
  color: $text-color;
}

.steps-btns:hover {
  cursor: pointer;
  color: $hover-color;
}
